# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\program\python目录\GPS卫星位置的计算\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
